In [ ]:
import pandas as pd
from sklearn.feature_selection import f_classif

In [ ]:
data = pd.read_excel(r'https://github.com/DanialShirazi/delay-prediction/raw/main/Input%20Dataset.xlsx',
                           sheet_name='dataset',index_col=0, engine='openpyxl')
X = data.values[:,0:65]
y = data.label

In [ ]:
import numpy as np
from scipy.stats import boxcox, shapiro

# Assuming 'X' is your numpy array
X_transformed = np.copy(X)  # Create a copy of 'X'

for i in range(X.shape[1]):
    # Perform the Shapiro-Wilk test
    _, p_value = shapiro(X[:, i])

    # If p-value is less than 0.05, apply the Box-Cox transformation
    if p_value < 0.05:
        X_transformed[:, i], _ = boxcox(X[:, i] + 1e-7)

# 'X_transformed' now contains the transformed features

In [ ]:
anova_scores, anova_pvalues = f_classif(X_transformed, y)

In [ ]:
anova_scores, anova_pvalues

(array([ 4.74904263,  9.67813885, 25.51342181, 21.82579633, 19.81524501,
         1.85840782,  7.29711755,  0.45890629,  8.85566898, 11.92162057,
        12.11941345, 15.03522663, 28.95011462, 12.44263021, 11.46399515,
         4.20662692, 17.71796951, 20.39790648, 17.42502862,  9.99411106,
         7.24170713, 20.84346609, 10.9581266 ,  4.29746073,  8.19817724,
        11.28193526,  7.7041359 ,  2.80412948,  7.56318003,  4.20970373,
         5.46201201,  3.02835219,  0.84650069, 17.84891543,  2.03088352,
         1.68623329,  4.43552191,  0.98400323,  7.7865589 ,  1.15682977,
         1.4325863 , 10.54335619,  0.92750585, 18.76777077,  6.51670375,
        13.68634271, 14.34357077,  4.93273953,  6.87355165,  7.68067899,
        16.94054162, 10.08863573,  7.0210598 , 12.99068206,  0.37382049,
        10.06572839,  3.39185691,  0.17215747,  3.58523515,  9.11322397,
         0.58223913, 26.06970334, 10.87979613,  5.24347763,  1.43701896]),
 array([1.29322880e-02, 2.79966255e-04, 2.30850328e-08, 1.53592822e-07,
        4.60103821e-07, 1.66530436e-01, 1.65731901e-03, 6.34609626e-01,
        5.10170360e-04, 5.84092117e-05, 5.11060824e-05, 7.71690110e-06,
        4.45339200e-09, 4.11473146e-05, 7.97799879e-05, 2.04863760e-02,
        1.52487829e-06, 3.33122962e-07, 1.81111746e-06, 2.23164994e-04,
        1.73001352e-03, 2.60954066e-07, 1.13128958e-04, 1.89561744e-02,
        8.32998529e-04, 9.04147146e-05, 1.21180641e-03, 7.01080131e-02,
        1.34998816e-03, 2.04324957e-02, 7.15378020e-03, 5.73536506e-02,
        4.34967081e-01, 1.41255177e-06, 1.41903854e-01, 1.95577215e-01,
        1.68541442e-02, 3.80933070e-01, 1.13790046e-03, 3.22754694e-01,
        2.48318312e-01, 1.51195677e-04, 4.02236703e-01, 8.31073697e-07,
        3.05478380e-03, 1.81785127e-05, 1.19304241e-05, 1.10876256e-02,
        2.30535989e-03, 1.23373942e-03, 2.41351138e-06, 2.08611452e-04,
        2.05403422e-03, 2.86136295e-05, 6.90007230e-01, 2.12045277e-04,
        4.15580612e-02, 8.42343483e-01, 3.50716330e-02, 4.22115282e-04,
        5.62388411e-01, 1.75556470e-08, 1.19467850e-04, 8.56459855e-03,
        2.47279524e-01]))

In [ ]:
X = pd.DataFrame(X_transformed)

In [ ]:
# Create a DataFrame to store the feature names, F-value scores, and p-values
feature_scores = pd.DataFrame({'Feature': X.columns, 'F-value': anova_scores, 'p-value': anova_pvalues})

# Sort the DataFrame by F-value scores in descending order
feature_ranking = feature_scores.sort_values('F-value', ascending=False)

# Display the feature ranking
print(feature_ranking)

    Feature    F-value       p-value
12       12  28.950115  4.453392e-09
61       61  26.069703  1.755565e-08
2         2  25.513422  2.308503e-08
3         3  21.825796  1.535928e-07
21       21  20.843466  2.609541e-07
..      ...        ...           ...
32       32   0.846501  4.349671e-01
60       60   0.582239  5.623884e-01
7         7   0.458906  6.346096e-01
54       54   0.373820  6.900072e-01
57       57   0.172157  8.423435e-01

[65 rows x 3 columns]

In [ ]:
feature_ranking

    Feature    F-value       p-value
12       12  28.950115  4.453392e-09
61       61  26.069703  1.755565e-08
2         2  25.513422  2.308503e-08
3         3  21.825796  1.535928e-07
21       21  20.843466  2.609541e-07
..      ...        ...           ...
32       32   0.846501  4.349671e-01
60       60   0.582239  5.623884e-01
7         7   0.458906  6.346096e-01
54       54   0.373820  6.900072e-01
57       57   0.172157  8.423435e-01

[65 rows x 3 columns]